.showcase {
  height: 400px;
  background-color: $primaryColor;
  color: $offwhite;
  position: relative;

  h1 {
    font-size: 40px;
  }

  p {
    margin: 20px 0;
  }

  .grid {
    grid-template-columns: 55% 45%;
    gap: 30px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    transform: skewY(-4deg);
    background-color: #fff;
  }
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;

  .form-control {
    margin: 30px;
  }

  input[type="text"],
  input[type="email"] {
    background-color: $offwhite;
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
    outline: none;
  }
}
