@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

@import "./variables";
@import "./navbar";
@import "./showcase";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

// Utilities
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  background-color: $offwhite;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 10px;
  color: #333;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: $primaryColor;
  color: $offwhite;
  border: none;
  border-radius: 5px;

  &:hover {
    transform: scale(0.98);
  }
}

.btn-outline {
  background-color: transparent;
  border: 1px $offwhite solid;
}
