@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

@import "./variables";
@import "./utilities";
@import "./navbar";
@import "./showcase";
@import "./stats";
@import "./cli";
@import "./cloud";
@import "./languages";
@import "./features";
@import "./docs";
@import "./footer";
@import "./animations";
@import "./mediaq";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

code,
pre {
  background: #333;
  color: $offwhite;
  padding: 10px;
}
